*~
/.DS_Store
.DS_Store
/classes
/lib
/target
/out
*out
.env
.repl*
.cpcache
.nrepl-port
resources/public/js/main.js
resources/public/index.html
figwheel_server.log
.rebel_readline_history
node_modules
dist
app.jar